@font-face {
    font-family: "HankenGrotesk";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.625rem;
}

body {
    overflow-x: hidden;
    min-width: 100vw;

    display: grid;
    place-content: center;

    font-family: "HankenGrotesk", sans-serif;
    font-size: 1.8rem;
}

main {
    min-height: 100vh;
    width: 100%;
}

.results {
    display: grid;
    grid-template-rows: auto;
}

.result-container {
    padding: 2.4rem 3.6rem 4.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0 0 3.6rem 3.6rem;

    text-align: center;
    line-height: 1.3;

    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    color: hsla(0, 100%, 100%, 80%);
}

.result-container h1 {
    margin-bottom: 2rem;

    font-size: 2.2rem;
    font-weight: 500;
    
    color: hsla(0, 100%, 100%, 80%);
}

.score-container {
    min-width: 16rem;
    min-height: 16rem;
    margin-bottom: 2rem;
    padding: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.score-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: hsla(0, 100%, 100%, 50%);
}

.score {
    font-size: 6.4rem;
    font-weight: 800;

    color: hsl(0, 100%, 100%);
}

.score-word {
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 0.05em;

    color: hsl(0, 100%, 100%);
}

.summary-container {
    margin-top: 2.8rem;
    padding: 0 3.2rem;

    display: flex;
    flex-direction: column;

    font-weight: 500;

    color: hsl(224, 30%, 27%);
}

.summary-container h2 {
    font-weight: 800;
    margin-bottom: 1.6rem;
}

.category-container {
    margin-bottom: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    list-style: none;
}

.category-container li {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid black; */
    border-radius: 1.6rem;
}

.summary-score {
    font-weight: 800;
}

.category-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.reaction-container {
    background: hsla(0, 100%, 67%, 10%);

    color: hsl(0, 100%, 67%);
}

.memory-container {
    background: hsla(39, 100%, 56%, 10%);

    color: hsl(39, 100%, 56%);
}

.verbal-container {
    background: hsla(166, 100%, 37%, 10%);

    color: hsl(166, 100%, 37%);
}

.visual-container {
    background: hsla(234, 85%, 45%, 10%);

    color: hsl(234, 85%, 45%);
}

.category-container li p {
    color: hsla(224, 30%, 27%, 50%);
}

.category-container li p span {
    color: hsl(224, 30%, 27%);
}

.continue-btn {
    padding: 1.6rem;

    border: none;
    border-radius: 3.2rem;

    font-size: 1.6rem;
    font-weight: 700;

    background: hsl(224, 30%, 27%);

    color: hsl(0, 100%, 100%);
}

.continue-btn:hover {
    cursor: pointer;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
    padding: 1.6rem;

    font-size: 1.1rem; 
    text-align: center; 

    background: hsl(224, 30%, 27%);
    color: hsl(0, 100%, 100%);
}

.attribution p {
    white-space: nowrap;
    display: inline;
    width: fit-content;
}

.attribution a { 
    /* color: hsl(228, 45%, 44%);  */
    /* color: hsl(0, 100%, 67%); */
    color: hsl(166, 100%, 37%);
}

@media (min-width: 700px) {
    main {
        min-width: 100vw;
        display: grid;
        place-items: center;
    }

    .results {
        max-width: 680px;

        grid-template-columns: 1fr 1fr;

        border-radius: 3.6rem;
        
        box-shadow: 1rem 2rem 2rem hsl(260, 20%, 90%);

        overflow: hidden;
    }

    .result-container {
        padding: 4.2rem;

        border-radius: 3.6rem;
    }

    .score-container {
        margin-bottom: 3.2rem;
    }

    .score-word {
        margin-bottom: 1.6rem;
    }

    .category-container {
        margin-bottom: 3.2rem;
    }

    .continue-btn {
        margin-bottom: 3.2rem;
    }
}